{% extends "layout.html" %}

{% block title %}{{ params['website_name'] }} | Add blog{% endblock %}

{% block page_style %}
    {{ url_for('static', path='css/edit.css') }}
{% endblock page_style %}

{% block add_headers %}
    <!-- Load CKEditor (CDN version) -->
    <script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>
{% endblock add_headers %}

{% block body %}

<header class="masthead"
        style="background-image: url('{{ url_for('static', path='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your post and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Add/edit post</h1>

            <form id="addPostForm">
                <!-- Title -->
                <div class="form-floating">
                    <input class="form-control"
                           id="title"
                           name="title"
                           type="text"
                           placeholder="Title"
                           value="{{ posts.title if posts else '' }}" />
                    <label for="title">Title</label>
                </div>

                <!-- Tagline -->
                <div class="form-floating">
                    <input class="form-control"
                           id="tline"
                           name="tline"
                           type="text"
                           placeholder="Tagline"
                           value="{{ posts.tag_line if posts else '' }}" />
                    <label for="tline">Tagline</label>
                </div>

                <!-- Description -->
                <div class="form-floating">
                    <input class="form-control"
                           id="description"
                           name="description"
                           type="text"
                           placeholder="Description"
                           value="{{ posts.description if posts else '' }}" />
                    <label for="description">Description</label>
                </div>

                <!-- Slug -->
                <div class="form-floating">
                    <input class="form-control"
                           id="slug"
                           name="slug"
                           type="text"
                           placeholder="Slug"
                           value="{{ posts.slug if posts else '' }}" />
                    <label for="slug">Slug</label>
                </div>

                <!-- Content (CKEditor will replace this) -->
                <div class="form-floating">
                    <textarea class="form-control"
                              id="content"
                              name="content"
                              style="height: 12rem">{{ posts.content if posts else '' }}</textarea>
                    <label for="content">Content</label>
                </div>

                <!-- Image file -->
                <div class="form-floating">
                    <input class="form-control"
                           id="img_file"
                           name="img_file"
                           type="text"
                           placeholder="Image file"
                           value="{{ posts.img_file if posts else '' }}" />
                    <label for="img_file">Image file</label>
                </div>

                <br>

                <button class="btn btn-primary text-uppercase"
                        type="submit">
                    Submit
                </button>

            </form>
        </div>
    </div>
</div>

<!-- Initialize CKEditor -->
<script>
    CKEDITOR.replace('content', {
        height: 400,
        filebrowserUploadUrl: '/upload-image',
        filebrowserUploadMethod: 'form'
    });
</script>
<script src="{{ url_for('static', path='/js/handelAddForm.js') }}"></script>

{% endblock %}
