{% extends "layout.html" %}


{% block title %}{{ params['website_name'] }} | Inbox{% endblock %}
{% block meta_description %}{{params['website_description'] }}{% endblock %}

{% block og_title %}{{''}}{% endblock %}
{% block og_description %}{{''}}{% endblock %}
{% block og_image %}{{ url_for('static',filename='assets/img/home-bg.jpg', _external=True)}}{% endblock %}

{% block twitter_title %}{{''}}{% endblock %}
{% block twitter_description %}{{''}}{% endblock %}
{% block twitter_image %}{{ url_for('static',filename='assets/img/home-bg.jpg',  _external=True)}}{% endblock %}

{% block page_style %}{{url_for('static', filename='css/index.css')}}{% endblock page_style %}

{%block add_headers%}{%endblock add_headers%}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/home-bg.jpg')}}')">
            <!-- <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/home-bg.jpg')}} ')"></header> -->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <!-- i am using the config.json file to get these values and using it here by jinjer templating -->
                            <h1>{{params['website_name']}}</h1>
                            <h2 class="subheading">Tools, Tips & Tech Insights</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    <!--Todo: fetch it using for loop from the database-->
                    <!-- variable "posts" is passed in def home() -->
                    {% for contact in contacts %} <!--for loop in jinga-->
                        <div class="post-preview">
                            <a href="{{ url_for('inbox.getAMsgFromInbox', sno=contact.sno) }}"> 
                                <h2 class="post-title">{{contact.name}}</h2>
                                <h3 class="post-subtitle">{{contact.msg}}</h3>
                            </a>
                            <p class="post-meta">
                                Posted on {{contact.date}}
                            </p>
                        </div>
                        
                    {% endfor %}


                    
                    <hr class="my-4" />
                    <!-- Pager-->
                    
                    <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> -->
                    <div class="d-flex justify-content-between mb-4">
                        <div class="btn btn-primary text-uppercase nav-button"><a href="{{prev}}">← Previous</a></div>
                        <div class="btn btn-primary text-uppercase nav-button"><a href="{{next}}">Older mesgs →</a></div>
                    </div>
            </div>
        </div>
{% endblock %}    
