<link rel="stylesheet" href="{{ url_for('static', path='css/SearchBar.css') }}">

<form class="search-form" method="get" action="{{ url_for('search_page') }}">
    <input
        type="search"
        name="q"
        placeholder="Search blogs..."
        value="{{ request.query_params.get('q', '') }}"

        aria-label="Search blog posts"
        required
    >
    <button class="search-btn" type="submit" aria-label="Search"> 
        <img 
        src="{{ url_for('static', path='/assets/icons/search.svg') }}" 
        alt="search-button" 
        class="icon"
        >
    </button>
</form>

